<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="DefaultEndpoint" defaultOutgoingResponseFormat="Json"
          crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <services>
      <service name="WcfServiceLibrary1.Service1">
        <endpoint address="http://localhost:8888/api" name="Api" contract="WcfServiceLibrary1.IService1"
          kind="webHttpEndpoint" endpointConfiguration="DefaultEndpoint" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
