@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.Market
<h2>UserInfo</h2>

<div id="info_name"></div>
<input type="button" id="info_save" value="测试" />

