<?xml version="1.0"?>
<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--是否沙箱环境-->
  <add key="IsSandbox" value="false" />
  <!--淘宝Api入口-->
  <add key="TopApiMainUrl" value="http://topapi.me/Top" />
  <!--sql 数据库路径-->
  <add key="SqliteDbPath" value="E:\360云盘\Temp\TaobaoApi\SdkDemo\Top.sqlite" />
</appSettings>