<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TopEntities" connectionString="metadata=res://*/DataAccess.Top.csdl|res://*/DataAccess.Top.ssdl|res://*/DataAccess.Top.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\360云盘\Temp\TaobaoApi\SdkDemo\Top.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>